html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  width: 100%;
  align-content: center;
  font-size: 2.5em;
  font-weight: bolder;
}

div {
  width:100%;
}

label {
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 1em;
  width: 100%;
}

